In [1]:
import pandas as pd
import numpy as np

## Start by choosing what demographic variables we want to use

In [3]:
demographic_url = 'https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/P_DEMO.XPT'
demographic_df = pd.read_sas(demographic_url)

In [6]:
pd.set_option('display.max_columns', 30)
demographic_df

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,DMDBORN4,DMDYRUSZ,DMDEDUC2,DMDMARTZ,RIDEXPRG,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANGA,WTINTPRP,WTMECPRP,SDMVPSU,SDMVSTRA,INDFMPIR
0,109263.0,66.0,2.0,1.0,2.0,NaN,5.0,6.0,2.0,1.0,NaN,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,7891.762435,8.951816e+03,3.0,156.0,4.66
1,109264.0,66.0,2.0,2.0,13.0,NaN,1.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,11689.747264,1.227116e+04,1.0,155.0,0.83
2,109265.0,66.0,2.0,1.0,2.0,NaN,3.0,3.0,2.0,1.0,NaN,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,16273.825939,1.665876e+04,1.0,157.0,3.06
3,109266.0,66.0,2.0,2.0,29.0,NaN,5.0,6.0,2.0,2.0,2.0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,7825.646112,8.154968e+03,2.0,168.0,5.00
4,109267.0,66.0,1.0,2.0,21.0,NaN,2.0,2.0,NaN,2.0,3.0,4.0,3.0,3.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,26379.991724,5.397605e-79,1.0,156.0,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15555,124818.0,66.0,2.0,1.0,40.0,NaN,4.0,4.0,1.0,1.0,NaN,5.0,1.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,21586.596728,2.166689e+04,1.0,166.0,3.82
15556,124819.0,66.0,2.0,1.0,2.0,NaN,4.0,4.0,2.0,1.0,NaN,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,1664.919253,1.838170e+03,2.0,171.0,0.07
15557,124820.0,66.0,2.0,2.0,7.0,NaN,3.0,3.0,2.0,1.0,NaN,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,14819.783161,1.649781e+04,1.0,157.0,1.22
15558,124821.0,66.0,2.0,1.0,63.0,NaN,4.0,4.0,1.0,1.0,NaN,2.0,2.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,4666.817952,4.853430e+03,1.0,158.0,3.71
15559,124822.0,66.0,2.0,1.0,74.0,NaN,2.0,2.0,2.0,2.0,4.0,3.0,1.0,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,2.0,NaN,14024.476634,1.519580e+04,1.0,149.0,NaN

In [19]:
demographic_df['DMDBORN4'].value_counts()

1.0     12525
2.0      3028
77.0        6
99.0        1
Name: DMDBORN4, dtype: int64

In [18]:
demographic_df['RIDRETH1'].isna().sum()

0

In [7]:
demographic_df.columns

Index(['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN',
       'RIDRETH1', 'RIDRETH3', 'RIDEXMON', 'DMDBORN4', 'DMDYRUSZ', 'DMDEDUC2',
       'DMDMARTZ', 'RIDEXPRG', 'SIALANG', 'SIAPROXY', 'SIAINTRP', 'FIALANG',
       'FIAPROXY', 'FIAINTRP', 'MIALANG', 'MIAPROXY', 'MIAINTRP', 'AIALANGA',
       'WTINTPRP', 'WTMECPRP', 'SDMVPSU', 'SDMVSTRA', 'INDFMPIR'],
      dtype='object')

In [22]:
cols_to_keep = ['SEQN', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN',
               'RIDRETH3', 'DMDEDUC2', 'DMDMARTZ', 'RIDEXPRG', 'INDFMPIR']
demo_clean = demographic_df[cols_to_keep]
demo_clean

,SEQN,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH3,DMDEDUC2,DMDMARTZ,RIDEXPRG,INDFMPIR
0,109263.0,2.0,1.0,2.0,NaN,6.0,NaN,NaN,NaN,4.66
1,109264.0,2.0,2.0,13.0,NaN,1.0,NaN,NaN,NaN,0.83
2,109265.0,2.0,1.0,2.0,NaN,3.0,NaN,NaN,NaN,3.06
3,109266.0,2.0,2.0,29.0,NaN,6.0,5.0,3.0,2.0,5.00
4,109267.0,1.0,2.0,21.0,NaN,2.0,4.0,3.0,3.0,5.00
...,...,...,...,...,...,...,...,...,...,...
15555,124818.0,2.0,1.0,40.0,NaN,4.0,5.0,1.0,NaN,3.82
15556,124819.0,2.0,1.0,2.0,NaN,4.0,NaN,NaN,NaN,0.07
15557,124820.0,2.0,2.0,7.0,NaN,3.0,NaN,NaN,NaN,1.22
15558,124821.0,2.0,1.0,63.0,NaN,4.0,2.0,2.0,NaN,3.71
15559,124822.0,2.0,1.0,74.0,NaN,2.0,3.0,1.0,NaN,NaN

In [24]:
demo_clean = demo_clean.rename({'SEQN': 'SEQN',
                              'RIDSTATR':'interview_type', #interviewed only or MEC and interviewed
                              'RIAGENDR':'gender', # 1 male, 2 female
                              'RIDAGEYR':'age_year',
                              'RIDAGEMN':'age_month',
                              'RIDRETH3':'race',
                              'DMDEDUC2':'education',
                              'DMDMARTZ':'marital_status',
                              'RIDEXPRG':'pregnant',
                              'INDFMPIR': 'income_pov_rat'},
                            axis=1)
demo_clean

,SEQN,interview_type,gender,age_year,age_month,race,education,marital_status,pregnant,income_pov_rat
0,109263.0,2.0,1.0,2.0,NaN,6.0,NaN,NaN,NaN,4.66
1,109264.0,2.0,2.0,13.0,NaN,1.0,NaN,NaN,NaN,0.83
2,109265.0,2.0,1.0,2.0,NaN,3.0,NaN,NaN,NaN,3.06
3,109266.0,2.0,2.0,29.0,NaN,6.0,5.0,3.0,2.0,5.00
4,109267.0,1.0,2.0,21.0,NaN,2.0,4.0,3.0,3.0,5.00
...,...,...,...,...,...,...,...,...,...,...
15555,124818.0,2.0,1.0,40.0,NaN,4.0,5.0,1.0,NaN,3.82
15556,124819.0,2.0,1.0,2.0,NaN,4.0,NaN,NaN,NaN,0.07
15557,124820.0,2.0,2.0,7.0,NaN,3.0,NaN,NaN,NaN,1.22
15558,124821.0,2.0,1.0,63.0,NaN,4.0,2.0,2.0,NaN,3.71
15559,124822.0,2.0,1.0,74.0,NaN,2.0,3.0,1.0,NaN,NaN

In [26]:
total_intake_url = 'https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/P_DR1TOT.XPT'
total_intake_df = pd.read_sas(total_intake_url)

/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)
/tmp/ipykernel_43/1830210439.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  total_intake_df = pd.read_sas(total_intake_url)

,SEQN,WTDRD1PP,WTDR2DPP,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,DR1MRESP,DR1HELP,DBQ095Z,DBD100,DRQSPREP,...,DRD370O,DRD370OQ,DRD370P,DRD370PQ,DRD370Q,DRD370QQ,DRD370R,DRD370RQ,DRD370S,DRD370SQ,DRD370T,DRD370TQ,DRD370U,DRD370UQ,DRD370V
0,109263.0,7.619484e+03,1.780807e+04,1.0,14.0,2.0,2.0,4.000000e+00,6.0,1.0,3.0,12.0,4.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,109264.0,8.235896e+03,7.253762e+03,1.0,81.0,2.0,2.0,5.000000e+00,6.0,1.0,1.0,12.0,1.0,3.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,109265.0,3.353508e+04,3.561201e+04,1.0,88.0,2.0,2.0,1.900000e+01,4.0,1.0,2.0,12.0,4.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,109266.0,6.831068e+03,5.988204e+03,1.0,81.0,2.0,2.0,4.000000e+00,7.0,1.0,1.0,12.0,1.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,109269.0,7.875707e+03,1.823193e+04,1.0,88.0,2.0,2.0,9.000000e+00,1.0,1.0,2.0,12.0,4.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14295,124818.0,1.546208e+04,1.243740e+04,1.0,49.0,2.0,2.0,6.000000e+00,7.0,1.0,1.0,12.0,4.0,NaN,3.0,...,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
14296,124819.0,4.091615e+03,4.100758e+03,1.0,14.0,2.0,2.0,2.200000e+01,4.0,1.0,2.0,12.0,1.0,3.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14297,124820.0,3.435783e+04,3.505186e+04,1.0,86.0,2.0,2.0,1.800000e+01,4.0,1.0,2.0,1.0,1.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14298,124821.0,3.043724e+03,5.397605e-79,1.0,81.0,2.0,1.0,5.397605e-79,7.0,1.0,1.0,12.0,1.0,2.0,3.0,...,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
14299,124822.0,5.397605e-79,NaN,2.0,14.0,NaN,NaN,NaN,7.0,2.0,NaN,NaN,99.0,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
total_intake_df

,SEQN,WTDRD1PP,WTDR2DPP,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,DR1MRESP,DR1HELP,DBQ095Z,DBD100,DRQSPREP,...,DRD370O,DRD370OQ,DRD370P,DRD370PQ,DRD370Q,DRD370QQ,DRD370R,DRD370RQ,DRD370S,DRD370SQ,DRD370T,DRD370TQ,DRD370U,DRD370UQ,DRD370V
0,109263.0,7.619484e+03,1.780807e+04,1.0,14.0,2.0,2.0,4.000000e+00,6.0,1.0,3.0,12.0,4.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,109264.0,8.235896e+03,7.253762e+03,1.0,81.0,2.0,2.0,5.000000e+00,6.0,1.0,1.0,12.0,1.0,3.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,109265.0,3.353508e+04,3.561201e+04,1.0,88.0,2.0,2.0,1.900000e+01,4.0,1.0,2.0,12.0,4.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,109266.0,6.831068e+03,5.988204e+03,1.0,81.0,2.0,2.0,4.000000e+00,7.0,1.0,1.0,12.0,1.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,109269.0,7.875707e+03,1.823193e+04,1.0,88.0,2.0,2.0,9.000000e+00,1.0,1.0,2.0,12.0,4.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14295,124818.0,1.546208e+04,1.243740e+04,1.0,49.0,2.0,2.0,6.000000e+00,7.0,1.0,1.0,12.0,4.0,NaN,3.0,...,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
14296,124819.0,4.091615e+03,4.100758e+03,1.0,14.0,2.0,2.0,2.200000e+01,4.0,1.0,2.0,12.0,1.0,3.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14297,124820.0,3.435783e+04,3.505186e+04,1.0,86.0,2.0,2.0,1.800000e+01,4.0,1.0,2.0,1.0,1.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14298,124821.0,3.043724e+03,5.397605e-79,1.0,81.0,2.0,1.0,5.397605e-79,7.0,1.0,1.0,12.0,1.0,2.0,3.0,...,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
14299,124822.0,5.397605e-79,NaN,2.0,14.0,NaN,NaN,NaN,7.0,2.0,NaN,NaN,99.0,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
total_intake_df = df[df.DR1DRSTZ != 2] #drops all the rows with incomplete dietary records

In [30]:
print(total_intake_df.columns.tolist())

['SEQN', 'WTDRD1PP', 'WTDR2DPP', 'DR1DRSTZ', 'DR1EXMER', 'DRABF', 'DRDINT', 'DR1DBIH', 'DR1DAY', 'DR1LANG', 'DR1MRESP', 'DR1HELP', 'DBQ095Z', 'DBD100', 'DRQSPREP', 'DR1STY', 'DR1SKY', 'DRQSDIET', 'DRQSDT1', 'DRQSDT2', 'DRQSDT3', 'DRQSDT4', 'DRQSDT5', 'DRQSDT6', 'DRQSDT7', 'DRQSDT8', 'DRQSDT9', 'DRQSDT10', 'DRQSDT11', 'DRQSDT12', 'DRQSDT91', 'DR1TNUMF', 'DR1TKCAL', 'DR1TPROT', 'DR1TCARB', 'DR1TSUGR', 'DR1TFIBE', 'DR1TTFAT', 'DR1TSFAT', 'DR1TMFAT', 'DR1TPFAT', 'DR1TCHOL', 'DR1TATOC', 'DR1TATOA', 'DR1TRET', 'DR1TVARA', 'DR1TACAR', 'DR1TBCAR', 'DR1TCRYP', 'DR1TLYCO', 'DR1TLZ', 'DR1TVB1', 'DR1TVB2', 'DR1TNIAC', 'DR1TVB6', 'DR1TFOLA', 'DR1TFA', 'DR1TFF', 'DR1TFDFE', 'DR1TCHL', 'DR1TVB12', 'DR1TB12A', 'DR1TVC', 'DR1TVD', 'DR1TVK', 'DR1TCALC', 'DR1TPHOS', 'DR1TMAGN', 'DR1TIRON', 'DR1TZINC', 'DR1TCOPP', 'DR1TSODI', 'DR1TPOTA', 'DR1TSELE', 'DR1TCAFF', 'DR1TTHEO', 'DR1TALCO', 'DR1TMOIS', 'DR1TS040', 'DR1TS060', 'DR1TS080', 'DR1TS100', 'DR1TS120', 'DR1TS140', 'DR1TS160', 'DR1TS180', 'DR1TM161', 'DR1TM181', 'DR1TM201', 'DR1TM221', 'DR1TP182', 'DR1TP183', 'DR1TP184', 'DR1TP204', 'DR1TP205', 'DR1TP225', 'DR1TP226', 'DR1_300', 'DR1_320Z', 'DR1_330Z', 'DR1BWATZ', 'DR1TWSZ', 'DRD340', 'DRD350A', 'DRD350AQ', 'DRD350B', 'DRD350BQ', 'DRD350C', 'DRD350CQ', 'DRD350D', 'DRD350DQ', 'DRD350E', 'DRD350EQ', 'DRD350F', 'DRD350FQ', 'DRD350G', 'DRD350GQ', 'DRD350H', 'DRD350HQ', 'DRD350I', 'DRD350IQ', 'DRD350J', 'DRD350JQ', 'DRD350K', 'DRD360', 'DRD370A', 'DRD370AQ', 'DRD370B', 'DRD370BQ', 'DRD370C', 'DRD370CQ', 'DRD370D', 'DRD370DQ', 'DRD370E', 'DRD370EQ', 'DRD370F', 'DRD370FQ', 'DRD370G', 'DRD370GQ', 'DRD370H', 'DRD370HQ', 'DRD370I', 'DRD370IQ', 'DRD370J', 'DRD370JQ', 'DRD370K', 'DRD370KQ', 'DRD370L', 'DRD370LQ', 'DRD370M', 'DRD370MQ', 'DRD370N', 'DRD370NQ', 'DRD370O', 'DRD370OQ', 'DRD370P', 'DRD370PQ', 'DRD370Q', 'DRD370QQ', 'DRD370R', 'DRD370RQ', 'DRD370S', 'DRD370SQ', 'DRD370T', 'DRD370TQ', 'DRD370U', 'DRD370UQ', 'DRD370V']

In [ ]:
cols_to_keep = ['SEQN', 'DR1DRSTZ', 'DR1EXMER', 'DRABF', 'DRDINT', 
                'DR1DBIH', 'DR1DAY', 'DR1LANG', 'DR1MRESP', 'DR1HELP', 'DBQ095Z', 'DBD100', 
                'DRQSPREP', 'DR1STY', 'DR1SKY', 'DRQSDIET', 'DRQSDT1', 'DRQSDT2', 'DRQSDT3', 
                'DRQSDT4', 'DRQSDT5', 'DRQSDT6', 'DRQSDT7', 'DRQSDT8', 'DRQSDT9', 'DRQSDT10', 
                'DRQSDT11', 'DRQSDT12', 'DRQSDT91', 'DR1TNUMF', 'DR1TKCAL', 'DR1TPROT', 'DR1TCARB', 
                'DR1TSUGR', 'DR1TFIBE', 'DR1TTFAT', 'DR1TSFAT', 'DR1TMFAT', 'DR1TPFAT', 'DR1TCHOL', 
                'DR1TATOC', 'DR1TATOA', 'DR1TRET', 'DR1TVARA', 'DR1TACAR', 'DR1TBCAR', 'DR1TCRYP', 
                'DR1TLYCO', 'DR1TLZ', 'DR1TVB1', 'DR1TVB2', 'DR1TNIAC', 'DR1TVB6', 'DR1TFOLA', 
                'DR1TFA', 'DR1TFF', 'DR1TFDFE', 'DR1TCHL', 'DR1TVB12', 'DR1TB12A', 'DR1TVC', 
                'DR1TVD', 'DR1TVK', 'DR1TCALC', 'DR1TPHOS', 'DR1TMAGN', 'DR1TIRON', 'DR1TZINC', 
                'DR1TCOPP', 'DR1TSODI', 'DR1TPOTA', 'DR1TSELE', 'DR1TCAFF', 'DR1TTHEO', 'DR1TALCO', 
                'DR1TMOIS', 'DR1TS040', 'DR1TS060', 'DR1TS080', 'DR1TS100', 'DR1TS120', 'DR1TS140', 
                'DR1TS160', 'DR1TS180', 'DR1TM161', 'DR1TM181', 'DR1TM201', 'DR1TM221', 'DR1TP182', 
                'DR1TP183', 'DR1TP184', 'DR1TP204', 'DR1TP205', 'DR1TP225', 'DR1TP226', 'DR1_300', 
                'DR1_320Z', 'DR1_330Z', 'DR1BWATZ', 'DR1TWSZ', 'DRD340', 'DRD350A', 'DRD350AQ', 
                'DRD350B', 'DRD350BQ', 'DRD350C', 'DRD350CQ', 'DRD350D', 'DRD350DQ', 'DRD350E', 
                'DRD350EQ', 'DRD350F', 'DRD350FQ', 'DRD350G', 'DRD350GQ', 'DRD350H', 'DRD350HQ', 
                'DRD350I', 'DRD350IQ', 'DRD350J', 'DRD350JQ', 'DRD350K', 'DRD360', 'DRD370A', 'DRD370AQ',
                'DRD370B', 'DRD370BQ', 'DRD370C', 'DRD370CQ', 'DRD370D', 'DRD370DQ', 'DRD370E', 'DRD370EQ', 
                'DRD370F', 'DRD370FQ', 'DRD370G', 'DRD370GQ', 'DRD370H', 'DRD370HQ', 'DRD370I', 'DRD370IQ', 
                'DRD370J', 'DRD370JQ', 'DRD370K', 'DRD370KQ', 'DRD370L', 'DRD370LQ', 'DRD370M', 'DRD370MQ', 
                'DRD370N', 'DRD370NQ', 'DRD370O', 'DRD370OQ', 'DRD370P', 'DRD370PQ', 'DRD370Q', 'DRD370QQ', 
                'DRD370R', 'DRD370RQ', 'DRD370S', 'DRD370SQ', 'DRD370T', 'DRD370TQ', 'DRD370U', 'DRD370UQ', 'DRD370V']
nutr_1_clean = demographic_df[cols_to_keep]
demo_clean

In [ ]:
demo_clean = demo_clean.rename({'SEQN': 'SEQN',
                              'RIDSTATR':'interview_type', #interviewed only or MEC and interviewed
                              'RIAGENDR':'gender', # 1 male, 2 female
                              'RIDAGEYR':'age_year',
                              'RIDAGEMN':'age_month',
                              'RIDRETH3':'race',
                              'DMDEDUC2':'education',
                              'DMDMARTZ':'marital_status',
                              'RIDEXPRG':'pregnant',
                              'INDFMPIR': 'income_pov_rat'},
                            axis=1)
demo_clean