In [1]:
import pandas as pd
import numpy as np
import dash
from jupyter_dash import JupyterDash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output, State
import dash_bootstrap_components as dbc
import psycopg2
from sqlalchemy import create_engine
import os
import plotly.graph_objects as go
import plotly.express as px
from bson.json_util import loads, dumps

In [2]:
demo = pd.read_csv('demo.csv')
food_brand = pd.read_csv('food_brand.csv')
food = pd.read_csv('food.csv')
pop_nutr = pd.read_csv('pop_nutr.csv')
rec = pd.read_csv('rec.csv')
units = pd.read_csv('units.csv')

In [3]:
demo = demo.rename({'SEQN':'seqn'},
                            axis=1)
demo

,seqn,sex,age_year,race,education,marital_status,income_pov_rat
0,109263.0,M,2.0,Non-Hispanic Asian,NaN,NaN,4.66
1,109264.0,F,13.0,Mexican American,NaN,NaN,0.83
2,109265.0,M,2.0,Non-Hispanic White,NaN,NaN,3.06
3,109266.0,F,29.0,Non-Hispanic Asian,College graduate or above,Never married,5.00
4,109269.0,M,2.0,Other Hispanic,NaN,NaN,0.96
...,...,...,...,...,...,...,...
11722,112157.0,M,3.0,Mexican American,NaN,NaN,0.48
11723,115293.0,F,2.0,Non-Hispanic White,NaN,NaN,0.99
11724,117889.0,F,2.0,Other Hispanic,NaN,NaN,0.85
11725,122957.0,F,2.0,Non-Hispanic Black,NaN,NaN,1.47
11726,124001.0,M,2.0,Non-Hispanic White,NaN,NaN,5.00

In [4]:
pop_nutr = pop_nutr.rename({'SEQN':'seqn'},
                            axis=1)
pop_nutr

,seqn,avg_vit_e,avg_vit_a,avg_thiamin_b1,avg_riboflavin_b2,avg_niacin,avg_vit_b6,avg_folate,avg_choline,avg_vit_b12,avg_vit_c,avg_vit_d,avg_vit_k,avg_calcium,avg_phosphorus,avg_magnesium,avg_iron,avg_zinc,avg_sodium,avg_potassium
0,109263.0,4.645,304.5,1.6960,1.0150,15.4385,1.1695,422.0,139.15,2.345,167.45,230.0,35.30,1026.5,758.5,160.0,10.615,6.395,1923.0,1561.5
1,109264.0,5.100,1122.5,2.2000,1.8770,36.1480,3.5925,659.0,198.15,8.880,44.90,146.0,118.75,571.5,1055.5,196.5,28.245,16.430,2195.0,1381.0
2,109265.0,4.440,633.0,1.1845,1.5540,16.4525,1.4330,239.0,197.65,4.310,66.25,244.0,57.50,1112.0,1192.0,196.0,7.230,7.320,1991.0,2279.0
3,109266.0,11.050,420.0,1.2930,1.6440,12.5290,1.3310,282.0,223.15,2.430,79.50,162.0,91.20,1048.0,1246.5,342.0,11.550,7.635,2720.0,2404.0
4,109269.0,4.075,280.0,0.5835,0.8115,5.4995,0.3315,157.0,268.25,1.260,128.05,106.0,55.25,358.5,548.0,75.5,5.860,3.040,1503.5,1081.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11722,112157.0,6.410,555.0,2.7330,2.7110,43.5520,4.3110,560.0,215.50,9.870,43.80,328.0,38.20,785.0,1006.0,250.0,29.710,8.140,2726.0,2179.0
11723,115293.0,4.320,410.0,1.1100,2.1990,13.5170,0.8230,236.0,222.30,5.420,14.60,600.0,51.30,1459.0,1343.0,198.0,5.940,6.550,1677.0,2458.0
11724,117889.0,4.460,463.0,1.0850,1.4080,13.1980,1.1280,257.0,232.00,2.760,64.80,152.0,30.20,897.0,938.0,170.0,10.680,7.550,1721.0,1469.0
11725,122957.0,4.170,266.0,0.9370,1.1750,13.4810,1.1240,163.0,156.80,2.310,29.40,140.0,25.60,792.0,1030.0,201.0,7.260,6.240,2009.0,1718.0
11726,124001.0,8.310,432.0,0.8760,0.9550,11.2220,1.0610,199.0,154.80,2.260,38.20,176.0,54.40,684.0,871.0,258.0,15.840,7.130,1237.0,1881.0

In [5]:
food = food.rename({'fdcId':'fdcid',
                    'riboflavin':'riboflavin_b2',
                    'thiamin':'thiamin_b1'},
                            axis=1)
food

,fdcid,description,calcium,choline,folate,iron,magnesium,niacin,phosphorus,potassium,...,sodium,thiamin_b1,vit_a,vit_b12,vit_b6,vit_c,vit_d,vit_e,zinc,vit_k
0,2262074,"Almond butter, creamy",264.00,0.0,42.50,4.1100,268.00,3.9100,507.00,745.0,...,0.996,0.09460,0.0,0.000,0.0838,0.0,0.0,16.70,3.18000,0.0
1,2257045,"Almond milk, unsweetened, plain, refrigerated",158.00,0.0,0.00,0.1250,8.25,0.0888,19.10,49.3,...,59.200,0.00500,0.0,0.449,0.0000,0.0,63.6,0.00,0.07660,0.0
2,1999631,"Almond milk, unsweetened, plain, shelf stable",173.00,0.0,0.00,0.2900,6.78,0.0744,29.80,30.8,...,59.600,0.00000,41.4,0.338,0.0000,0.0,37.1,3.32,0.17200,0.0
3,2003590,"Apple juice, with added vitamin C, from concen...",7.10,0.0,3.09,0.0402,4.86,0.0103,5.99,95.9,...,4.870,0.00000,0.0,0.000,0.0139,51.2,0.0,0.00,0.00212,0.0
4,1750340,"Apples, fuji, with skin, raw",5.98,0.0,0.00,0.0150,4.67,0.0906,9.78,104.0,...,1.010,0.00625,0.0,0.000,0.0354,0.0,0.0,0.00,0.01680,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13622,172219,"Yogurt, vanilla, low fat, fortified with vitam...",171.00,15.2,11.00,0.0700,16.00,0.1070,135.00,219.0,...,66.000,0.04200,12.0,0.530,0.0450,0.8,47.0,0.02,0.83000,0.1
13623,170888,"Yogurt, vanilla, low fat.",171.00,15.2,11.00,0.0700,16.00,0.1070,135.00,219.0,...,66.000,0.04200,12.0,0.530,0.0450,0.8,1.0,0.02,0.83000,0.1
13624,170906,"Yogurt, vanilla, non-fat",118.00,15.6,11.00,0.0000,16.00,0.1070,88.00,141.0,...,47.000,0.04200,61.0,0.530,0.0450,0.0,35.0,0.01,0.83000,0.0
13625,173730,"Yokan, prepared from adzuki beans and sugar",27.00,0.0,8.00,1.1600,18.00,0.0570,40.00,45.0,...,83.000,0.00500,0.0,0.000,0.0080,0.0,0.0,0.00,0.07000,0.0
13626,171372,Zwieback,20.00,10.7,87.00,0.6000,14.00,1.3200,55.00,305.0,...,227.000,0.20800,16.0,0.000,0.0820,5.3,0.0,2.44,0.54000,0.9

In [6]:
os.chdir('..')
postgres_password = os.environ['POSTGRES_PASSWORD']
os.chdir('app')

In [7]:
server = psycopg2.connect(
    user = 'postgres',
    password = postgres_password,
    host = 'postgres',
    port = '5432')
server.autocommit = True

In [8]:
cursor = server.cursor()

In [9]:
try:
    cursor.execute("CREATE DATABASE nutrecdb")
except:
    cursor.execute("DROP DATABASE nutrecdb")
    cursor.execute("CREATE DATABASE nutrecdb")

In [10]:
engine = create_engine('postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}'.format(
    user = 'postgres',
    password = postgres_password,
    host = 'postgres',
    port = '5432',
    db = 'nutrecdb'))

In [11]:
demo.to_sql('demo', con = engine, if_exists = 'replace', index=False, chunksize = 1000)
food_brand.to_sql('food_brand', con = engine, if_exists = 'replace', index=False, chunksize = 1000)
food.to_sql('food', con = engine, if_exists = 'replace', index=False, chunksize = 1000)
pop_nutr.to_sql('pop_nutr', con = engine, if_exists = 'replace', index=False, chunksize = 1000)
rec.to_sql('rec', con = engine, if_exists = 'replace', index=False, chunksize = 1000)
units.to_sql('units', con = engine, if_exists = 'replace', index=False, chunksize = 1000)

19

In [12]:
rec

,age_lower,age_upper,sex,vit_a,vit_e,vit_d,vit_c,thiamin_b1,riboflavin_b2,niacin,...,choline,vit_k,folate,calcium,iron,magnesium,phosphorus,potassium,sodium,zinc
0,2,3,M/F,300,6,600,15,0.5,0.5,6,...,200,30,150,700,7,80,460,2000,1200,3
1,4,8,F,400,7,600,25,0.6,0.6,8,...,250,55,200,1000,10,130,500,2300,1500,5
2,9,13,F,600,11,600,45,0.9,0.9,12,...,375,60,300,1300,8,240,1250,2300,1800,8
3,14,18,F,700,15,600,65,1.0,1.0,14,...,400,75,400,1300,15,360,1250,2300,2300,9
4,19,30,F,700,15,600,75,1.1,1.1,14,...,425,90,400,1000,18,310,700,2600,2300,8
5,31,50,F,700,15,600,75,1.1,1.1,14,...,425,90,400,1000,18,320,700,2600,2300,8
6,51,150,F,700,15,600,75,1.1,1.1,14,...,425,90,400,1200,8,320,700,2600,2300,8
7,4,8,M,400,7,600,25,0.6,0.6,8,...,250,55,200,1000,10,130,500,2300,1500,5
8,9,13,M,600,11,600,45,0.9,0.9,12,...,375,60,300,1300,8,240,1250,2500,1800,8
9,14,18,M,900,15,600,75,1.2,1.3,16,...,550,75,400,1300,11,410,1250,3000,2300,11
10,19,30,M,900,15,600,90,1.2,1.3,16,...,550,120,400,1000,8,400,700,3400,2300,11
11,31,50,M,900,15,600,90,1.2,1.3,16,...,550,120,400,1000,8,420,700,3400,2300,11
12,51,150,M,900,15,600,90,1.2,1.3,16,...,550,120,400,1000,8,420,700,3400,2300,11

In [13]:
#search_string = get_search_string(22, 'M', race = None, education = None, marital = None, poverty = 'Yes')
myquery = f'''
SELECT COUNT(d.age_year) as n, AVG(avg_vit_e) AS vit_e, AVG(avg_vit_a) AS vit_a, AVG(avg_thiamin_b1) AS thiamin_b1, AVG(avg_riboflavin_b2) AS riboflavin_b2, 
    AVG(avg_niacin) AS niacin, AVG(avg_vit_b6) AS vit_b6, AVG(avg_folate) AS folate, AVG(avg_choline) AS choline, AVG(avg_vit_b12) AS vit_b12, 
    AVG(avg_vit_c) AS vit_c, AVG(avg_vit_d) AS vit_d, AVG(avg_vit_k) AS vit_k, AVG(avg_calcium) AS calcium, AVG(avg_phosphorus) AS phosphorus, 
    AVG(avg_magnesium) AS magnesium, AVG(avg_iron) AS iron, AVG(avg_zinc) AS zinc, AVG(avg_sodium) AS sodium, AVG(avg_potassium) AS potassium
FROM demo d 
INNER JOIN pop_nutr p
    ON d.seqn = p.seqn
WHERE sex = 'F'
GROUP BY sex
'''

average_nutr = pd.read_sql(myquery, con=engine)
average_nutr

,n,vit_e,vit_a,thiamin_b1,riboflavin_b2,niacin,vit_b6,folate,choline,vit_b12,vit_c,vit_d,vit_k,calcium,phosphorus,magnesium,iron,zinc,sodium,potassium
0,5911,7.570145,530.449332,1.29896,1.575689,19.480873,1.574077,305.617916,258.35022,3.623612,72.196227,158.354593,102.402199,800.969379,1102.000677,238.088987,11.428141,8.294621,2751.129166,2084.55862

In [14]:
myquery = '''
SELECT vit_e, vit_a, thiamin_b1, riboflavin_b2, niacin, vit_b6, folate, choline, vit_b12, vit_c, vit_d, vit_k, calcium, phosphorus, 
    magnesium, iron, zinc, sodium, potassium
FROM rec
WHERE age_lower= 19 AND sex = 'F'
'''

recommendation = pd.read_sql(myquery, con=engine)
recommendation

,vit_e,vit_a,thiamin_b1,riboflavin_b2,niacin,vit_b6,folate,choline,vit_b12,vit_c,vit_d,vit_k,calcium,phosphorus,magnesium,iron,zinc,sodium,potassium
0,15,700,1.1,1.1,14,1.3,400,425,2.4,75,600,90,1000,700,310,18,8,2300,2600

In [15]:
needs = recommendation.subtract(average_nutr.drop(['n'], axis = 1))
vit_e = needs['vit_e'][0]
vit_a = needs['vit_a'][0]
thiamin_b1 = needs['thiamin_b1'][0]
riboflavin_b2 = needs['riboflavin_b2'][0]
niacin = needs['niacin'][0]
vit_b6 = needs['vit_b6'][0]
folate = needs['folate'][0]
choline = needs['choline'][0]
vit_b12 = needs['vit_b12'][0]
vit_c = needs['vit_c'][0]
vit_d = needs['vit_d'][0]
vit_k = needs['vit_k'][0]
calcium = needs['calcium'][0]
phosphorus = needs['phosphorus'][0]
magnesium = needs['magnesium'][0]
iron = needs['iron'][0]
zinc = needs['zinc'][0]
sodium = needs['sodium'][0]
potassium = needs['potassium'][0]

In [16]:
needs

,vit_e,vit_a,thiamin_b1,riboflavin_b2,niacin,vit_b6,folate,choline,vit_b12,vit_c,vit_d,vit_k,calcium,phosphorus,magnesium,iron,zinc,sodium,potassium
0,7.429855,169.550668,-0.19896,-0.475689,-5.480873,-0.274077,94.382084,166.64978,-1.223612,2.803773,441.645407,-12.402199,199.030621,-402.000677,71.911013,6.571859,-0.294621,-451.129166,515.44138

In [17]:
vit_e

7.429854508543403

In [18]:
multiplier = .1
myquery = f'''
WITH errors AS (SELECT fdcid, description,
    vit_e*{multiplier} AS vit_e,
    vit_a*{multiplier} AS vit_a,
    thiamin_b1*{multiplier} AS thiamin_b1,
    riboflavin_b2*{multiplier} AS riboflavin_b2,
    niacin*{multiplier} AS niacin,
    vit_b6*{multiplier} AS vit_b6,
    folate*{multiplier} AS folate,
    choline*{multiplier} AS choline,
    vit_b12*{multiplier} AS vit_b12,
    vit_c*{multiplier} AS vit_c,
    vit_d*{multiplier} AS vit_d,
    vit_k*{multiplier} AS vit_k,
    calcium*{multiplier} AS calcium,
    phosphorus*{multiplier} AS phosphorus,
    magnesium*{multiplier} AS magnesium,
    iron*{multiplier} AS iron,
    zinc*{multiplier} AS zinc,
    sodium*{multiplier} AS sodium,
    potassium*{multiplier} AS potassium,
    POWER(({multiplier}*vit_e - {vit_e}), 2) as vit_e_2, 
    POWER(({multiplier}*vit_a - {vit_a}), 2) as vit_a_2, 
    POWER(({multiplier}*thiamin_b1 - {thiamin_b1}), 2) as thiamin_b1_2, 
    POWER(({multiplier}*riboflavin_b2 - {riboflavin_b2}), 2) as riboflavin_b2_2, 
    POWER(({multiplier}*niacin - {niacin}), 2) as niacin_2, 
    POWER(({multiplier}*vit_b6 - {vit_b6}), 2) as vit_b6_2, 
    POWER(({multiplier}*folate - {folate}), 2) as folate_2, 
    POWER(({multiplier}*choline - {choline}), 2) as choline_2, 
    POWER(({multiplier}*vit_b12 - {vit_b12}), 2) as vit_b12_2, 
    POWER(({multiplier}*vit_c - {vit_c}), 2) as vit_c_2, 
    POWER(({multiplier}*vit_d - {vit_d}), 2) as vit_d_2, 
    POWER(({multiplier}*vit_k - {vit_k}), 2) as vit_k_2, 
    POWER(({multiplier}*calcium - {calcium}), 2) as calcium_2, 
    POWER(({multiplier}*phosphorus - {phosphorus}), 2) as phosphorus_2, 
    POWER(({multiplier}*magnesium - {magnesium}), 2) as magnesium_2, 
    POWER(({multiplier}*iron - {iron}), 2) as iron_2, 
    POWER(({multiplier}*zinc - {zinc}), 2) as zinc_2, 
    POWER(({multiplier}*sodium - {sodium}), 2) as sodium_2, 
    POWER(({multiplier}*potassium - {potassium}), 2) as potassium_2,
    {multiplier}*100.0 as serving
FROM food)

SELECT fdcid, description, serving, sqrt((vit_e_2 + vit_a_2 + thiamin_b1_2 + riboflavin_b2_2 + niacin_2 + vit_b6_2 + folate_2 + choline_2 + vit_b12_2 + vit_c_2 + 
    vit_d_2 + vit_k_2 + calcium_2 + phosphorus_2 + magnesium_2 + iron_2 + zinc_2 + sodium_2 + potassium_2)/19) AS rmse,
    vit_e,
    vit_a,
    thiamin_b1,
    riboflavin_b2,
    niacin,
    vit_b6,
    folate,
    choline,
    vit_b12,
    vit_c,
    vit_d,
    vit_k,
    calcium,
    phosphorus,
    magnesium,
    iron,
    zinc,
    sodium,
    potassium
FROM errors
ORDER BY rmse ASC
LIMIT 100
'''

foods = pd.read_sql(myquery, con=engine)

multipliers = np.arange(.2, 4, 0.1).tolist()
for multiplier in multipliers:
    myquery = f'''
    WITH errors AS (SELECT fdcid, description,
        vit_e*{multiplier} AS vit_e,
        vit_a*{multiplier} AS vit_a,
        thiamin_b1*{multiplier} AS thiamin_b1,
        riboflavin_b2*{multiplier} AS riboflavin_b2,
        niacin*{multiplier} AS niacin,
        vit_b6*{multiplier} AS vit_b6,
        folate*{multiplier} AS folate,
        choline*{multiplier} AS choline,
        vit_b12*{multiplier} AS vit_b12,
        vit_c*{multiplier} AS vit_c,
        vit_d*{multiplier} AS vit_d,
        vit_k*{multiplier} AS vit_k,
        calcium*{multiplier} AS calcium,
        phosphorus*{multiplier} AS phosphorus,
        magnesium*{multiplier} AS magnesium,
        iron*{multiplier} AS iron,
        zinc*{multiplier} AS zinc,
        sodium*{multiplier} AS sodium,
        potassium*{multiplier} AS potassium,
        POWER(({multiplier}*vit_e - {vit_e}), 2) as vit_e_2, 
        POWER(({multiplier}*vit_a - {vit_a}), 2) as vit_a_2, 
        POWER(({multiplier}*thiamin_b1 - {thiamin_b1}), 2) as thiamin_b1_2, 
        POWER(({multiplier}*riboflavin_b2 - {riboflavin_b2}), 2) as riboflavin_b2_2, 
        POWER(({multiplier}*niacin - {niacin}), 2) as niacin_2, 
        POWER(({multiplier}*vit_b6 - {vit_b6}), 2) as vit_b6_2, 
        POWER(({multiplier}*folate - {folate}), 2) as folate_2, 
        POWER(({multiplier}*choline - {choline}), 2) as choline_2, 
        POWER(({multiplier}*vit_b12 - {vit_b12}), 2) as vit_b12_2, 
        POWER(({multiplier}*vit_c - {vit_c}), 2) as vit_c_2, 
        POWER(({multiplier}*vit_d - {vit_d}), 2) as vit_d_2, 
        POWER(({multiplier}*vit_k - {vit_k}), 2) as vit_k_2, 
        POWER(({multiplier}*calcium - {calcium}), 2) as calcium_2, 
        POWER(({multiplier}*phosphorus - {phosphorus}), 2) as phosphorus_2, 
        POWER(({multiplier}*magnesium - {magnesium}), 2) as magnesium_2, 
        POWER(({multiplier}*iron - {iron}), 2) as iron_2, 
        POWER(({multiplier}*zinc - {zinc}), 2) as zinc_2, 
        POWER(({multiplier}*sodium - {sodium}), 2) as sodium_2, 
        POWER(({multiplier}*potassium - {potassium}), 2) as potassium_2,
        {multiplier}*100.0 as serving
    FROM food)

    SELECT fdcid, description, serving, SQRT((vit_e_2 + vit_a_2 + thiamin_b1_2 + riboflavin_b2_2 + niacin_2 + vit_b6_2 + folate_2 + choline_2 + vit_b12_2 + vit_c_2 + 
        vit_d_2 + vit_k_2 + calcium_2 + phosphorus_2 + magnesium_2 + iron_2 + zinc_2 + sodium_2 + potassium_2)/19) AS rmse,
        vit_e,
        vit_a,
        thiamin_b1,
        riboflavin_b2,
        niacin,
        vit_b6,
        folate,
        choline,
        vit_b12,
        vit_c,
        vit_d,
        vit_k,
        calcium,
        phosphorus,
        magnesium,
        iron,
        zinc,
        sodium,
        potassium
    FROM errors
    ORDER BY rmse ASC
    LIMIT 100
    '''

    new_foods = pd.read_sql(myquery, con=engine)
    foods = pd.concat([foods, new_foods], axis=0)

In [19]:
pd.set_option('display.max_rows', 50)
foods.sort_values(by='rmse', ascending=True).drop_duplicates(subset=['description'])[0:50]

,fdcid,description,serving,rmse,vit_e,vit_a,thiamin_b1,riboflavin_b2,niacin,vit_b6,...,vit_c,vit_d,vit_k,calcium,phosphorus,magnesium,iron,zinc,sodium,potassium
0,168422,"Mushrooms, Chanterelle, raw",110.0,174.056685,0.000,0.0,0.0165,0.2365,4.4880,0.0484,...,0.00,233.2,0.00,16.5,62.7,14.3,3.817,0.781,9.9,556.6
0,167794,"Orange juice, chilled, includes from concentra...",220.0,176.692357,2.486,250.8,0.1012,0.0858,0.6160,0.1672,...,73.92,92.4,0.00,321.2,37.4,24.2,0.286,0.154,4.4,391.6
0,169377,"Mushrooms, portabella, exposed to ultraviolet ...",80.0,177.314763,0.000,0.0,0.0576,0.3224,5.0080,0.0976,...,0.00,419.2,5.84,2.4,108.0,10.4,0.320,0.520,8.8,349.6
1,168488,"Taro leaves, cooked, steamed, without salt",110.0,181.861293,0.000,233.2,0.1529,0.4180,1.3970,0.0792,...,39.05,0.0,0.00,94.6,29.7,22.0,1.298,0.231,2.2,506.0
0,168557,"Mushrooms, brown, italian, or crimini, exposed...",40.0,181.882413,0.004,0.0,0.0380,0.1960,1.5200,0.0440,...,0.00,512.0,0.00,7.2,48.0,3.6,0.160,0.440,2.4,179.2
0,169815,"Lambsquarters, steamed (Northern Plains Indians)",50.0,181.888945,0.000,97.0,0.0235,0.1350,0.3115,0.1160,...,2.45,0.0,0.00,174.5,28.0,82.0,0.575,0.305,2.0,535.0
0,173525,"Infant formula, MEAD JOHNSON, Gentlease, ready...",390.0,182.222215,2.301,230.1,0.2028,0.3588,2.5740,0.1521,...,30.81,152.1,23.01,210.6,132.6,19.5,4.602,2.574,0.0,327.6
3,169224,"Cowpeas, leafy tips, raw",110.0,183.455953,0.000,39.6,0.3894,0.1925,1.2320,0.1947,...,39.60,0.0,0.00,69.3,9.9,47.3,2.112,0.319,7.7,500.5
1,169376,"Mushroom, white, exposed to ultraviolet light,...",50.0,183.929806,0.005,0.0,0.0405,0.2010,1.8050,0.0520,...,1.05,525.0,0.50,1.5,43.0,4.5,0.250,0.260,2.5,159.0
3,170143,"Mushrooms, portabella, exposed to ultraviolet ...",50.0,184.475266,0.010,0.0,0.0295,0.0650,2.2450,0.0740,...,0.00,570.0,0.90,1.5,54.0,5.0,0.155,0.265,4.5,182.0
1,170276,"Syrup, maple, Canadian",210.0,184.508376,0.000,0.0,0.1386,2.6670,0.1701,0.0000,...,0.00,0.0,0.00,228.9,0.0,44.1,0.231,1.470,18.9,472.5
1,173033,"Grapefruit, raw, pink and red and white, all a...",350.0,184.693458,0.455,161.0,0.1260,0.0700,0.8750,0.1470,...,120.40,0.0,0.00,42.0,28.0,28.0,0.315,0.245,0.0,486.5
1,169658,"Sugars, maple",180.0,185.054597,0.000,0.0,0.0162,0.0234,0.0720,0.0054,...,0.00,0.0,0.00,162.0,5.4,34.2,2.898,10.908,19.8,493.2
2,173473,"Rosemary, fresh",70.0,185.263278,0.000,102.2,0.0252,0.1064,0.6384,0.2352,...,15.26,0.0,0.00,221.9,46.2,63.7,4.655,0.651,18.2,467.6
2,168171,"Rose-apples, raw",390.0,185.300492,0.000,66.3,0.0780,0.1170,3.1200,0.0000,...,86.97,0.0,0.00,113.1,31.2,19.5,0.273,0.234,0.0,479.7
3,168487,"Taro leaves, raw",70.0,185.313133,1.414,168.7,0.1463,0.3192,1.0570,0.1022,...,36.40,0.0,76.30,74.9,42.0,31.5,1.575,0.287,2.1,453.6
3,169125,"Pineapple, canned, water pack, solids and liquids",390.0,185.319819,0.039,7.8,0.3627,0.1014,1.1622,0.2886,...,30.03,0.0,1.17,58.5,15.6,70.2,1.560,0.468,3.9,495.3
2,167758,"Rhubarb, raw",180.0,185.431738,0.486,9.0,0.0360,0.0540,0.5400,0.0432,...,14.40,0.0,52.74,154.8,25.2,21.6,0.396,0.180,7.2,518.4
2,170489,"Squash, winter, all varieties, raw",150.0,185.448303,0.180,102.0,0.0450,0.0930,0.7500,0.2340,...,18.45,0.0,1.65,42.0,34.5,21.0,0.870,0.315,6.0,525.0
4,170385,"Butterbur, (fuki), raw",80.0,185.584299,0.000,2.4,0.0160,0.0160,0.1600,0.0768,...,25.20,0.0,0.00,82.4,9.6,11.2,0.080,0.128,5.6,524.0
3,170386,"Butterbur, cooked, boiled, drained, without salt",150.0,185.668664,0.000,1.5,0.0150,0.0150,0.1500,0.0780,...,28.35,0.0,0.00,88.5,10.5,12.0,0.150,0.135,6.0,531.0
1,169918,"Oranges, raw, Florida",290.0,185.698173,0.522,31.9,0.2900,0.1160,1.1600,0.1479,...,130.50,0.0,0.00,124.7,34.8,29.0,0.261,0.232,0.0,490.1
4,168402,"Cowpeas (blackeyes), immature seeds, cooked, b...",110.0,185.787492,0.242,44.0,0.1111,0.1628,1.5400,0.0715,...,2.42,0.0,29.26,140.8,56.1,57.2,1.232,1.133,4.4,459.8
2,169661,"Syrups, maple",220.0,185.888554,0.000,0.0,0.1452,2.7940,0.1782,0.0044,...,0.00,0.0,0.00,224.4,4.4,46.2,0.242,3.234,26.4,466.4
4,173672,"Fish, mackerel, Pacific and jack, mixed specie...",90.0,185.914319,0.900,17.1,0.0999,0.3789,7.4880,0.2970,...,1.80,329.4,0.09,20.7,112.5,25.2,1.044,0.603,77.4,365.4
4,2344757,"Pineapple, canned, in syrup",390.0,185.952985,0.039,7.8,0.3354,0.0975,1.0686,0.2652,...,27.69,0.0,1.17,54.6,15.6,66.3,1.443,0.429,3.9,456.3
4,168995,"Lambsquarters, raw (Northern Plains Indians)",40.0,185.994482,0.000,39.2,0.0116,0.1200,0.3160,0.0736,...,0.00,0.0,138.80,146.4,25.2,65.2,0.464,0.288,2.8,508.0
2,2344866,Baby Toddler mangoes,330.0,186.070696,2.970,132.0,0.0726,0.1122,1.9866,0.3531,...,60.06,0.0,13.86,33.0,46.2,33.0,0.528,0.297,3.3,498.3
4,2344763,Rhubarb,210.0,186.077849,0.504,8.4,0.0294,0.0588,0.5082,0.0420,...,11.97,0.0,55.23,153.3,27.3,23.1,0.420,0.189,8.4,489.3
5,2345673,"Baby Toddler green beans, Stage 2",340.0,186.128532,1.088,81.6,0.0714,0.3468,1.0914,0.1190,...,28.56,0.0,37.74,221.0,64.6,74.8,3.672,0.646,17.0,435.2
3,172272,"Babyfood, vegetables, green beans, junior",340.0,186.128532,1.088,81.6,0.0714,0.3468,1.0914,0.1190,...,28.56,0.0,37.74,221.0,64.6,74.8,3.672,0.646,17.0,435.2
4,2345672,"Baby Toddler green beans, Stage 1",340.0,186.128532,1.088,81.6,0.0714,0.3468,1.0914,0.1190,...,28.56,0.0,37.74,221.0,64.6,74.8,3.672,0.646,17.0,435.2
6,169105,"Tangerines, (mandarin oranges), raw",300.0,186.136382,0.600,102.0,0.1740,0.1080,1.1280,0.2340,...,80.10,0.0,0.00,111.0,60.0,36.0,0.450,0.210,6.0,498.0
5,2344669,"Tangerine, raw",300.0,186.136382,0.600,102.0,0.1740,0.1080,1.1280,0.2340,...,80.10,0.0,0.00,111.0,60.0,36.0,0.450,0.210,6.0,498.0
4,2344658,"Clementine, raw",300.0,186.136382,0.600,102.0,0.1740,0.1080,1.1280,0.2340,...,80.10,0.0,0.00,111.0,60.0,36.0,0.450,0.210,6.0,498.0
2,173954,"Cherries, sour, red, raw",280.0,186.241518,0.196,179.2,0.0840,0.1120,1.1200,0.1232,...,28.00,0.0,5.88,44.8,42.0,25.2,0.896,0.280,8.4,484.4
4,2344756,"Pineapple, canned, NFS",370.0,186.241884,0.037,7.4,0.3108,0.0999,1.0212,0.2738,...,26.27,0.0,1.11,55.5,18.5,62.9,1.554,0.444,7.4,521.7
5,171994,"Fish, mackerel, Pacific and jack, mixed specie...",70.0,186.249964,0.875,16.1,0.0945,0.3780,7.4900,0.2667,...,1.47,319.9,0.07,20.3,112.0,25.2,1.043,0.602,77.0,364.7
5,167767,"Pineapple, canned, juice pack, drained",390.0,186.290059,0.078,11.7,0.3978,0.0819,1.1076,0.2925,...,36.66,0.0,2.73,62.4,27.3,58.5,1.092,0.390,3.9,483.6
4,2344730,"Fig, raw",220.0,186.295701,0.242,15.4,0.1320,0.1100,0.8800,0.2486,...,4.40,0.0,10.34,77.0,30.8,37.4,0.814,0.330,2.2,510.4
5,173021,"Figs, raw",220.0,186.295701,0.242,15.4,0.1320,0.1100,0.8800,0.2486,...,4.40,0.0,10.34,77.0,30.8,37.4,0.814,0.330,2.2,510.4
0,167806,Baobab powder,20.0,186.311602,0.000,0.0,0.0060,0.0148,4.0000,0.4820,...,34.60,0.0,0.00,68.4,9.4,31.6,1.684,0.184,2.0,438.0
6,169280,"Seaweed, agar, raw",200.0,186.349787,1.740,0.0,0.0100,0.0440,0.1100,0.0640,...,0.00,0.0,4.60,108.0,10.0,134.0,3.720,1.160,18.0,452.0
9,2344739,"Mango, frozen",280.0,186.475763,2.520,151.2,0.0784,0.1064,1.8732,0.3332,...,101.92,0.0,11.76,30.8,39.2,28.0,0.448,0.252,2.8,470.4
8,2344737,"Mango, raw",280.0,186.475763,2.520,151.2,0.0784,0.1064,1.8732,0.3332,...,101.92,0.0,11.76,30.8,39.2,28.0,0.448,0.252,2.8,470.4
7,169910,"Mangos, raw",280.0,186.475763,2.520,151.2,0.0784,0.1064,1.8732,0.3332,...,101.92,0.0,11.76,30.8,39.2,28.0,0.448,0.252,2.8,470.4
7,2344731,"Fig, canned",330.0,186.490055,0.264,13.2,0.1188,0.1221,0.8910,0.2673,...,3.96,0.0,11.55,85.8,33.0,42.9,0.924,0.363,3.3,518.1
7,169126,"Pineapple, canned, juice pack, solids and liquids",390.0,186.511050,0.039,7.8,0.3705,0.0741,1.1076,0.2886,...,37.05,0.0,1.17,54.6,23.4,54.6,1.092,0.390,3.9,475.8
6,173510,"Babyfood, vegetable, butternut squash and corn",140.0,186.533984,0.112,196.0,0.0840,0.0840,0.7840,0.1540,...,6.86,0.0,3.36,44.8,49.0,36.4,0.560,0.420,7.0,492.8
6,168420,"Jute, potherb, cooked, boiled, drained, withou...",80.0,186.569013,0.560,207.2,0.0728,0.1536,0.7120,0.4560,...,26.40,0.0,86.40,168.8,57.6,49.6,2.512,0.632,8.8,440.0

In [20]:
def foodgraph(df):
    #df = members.query(f"propublica_id == '{propub}'")
    recommendation = df.sort_values(by='rmse', ascending=True).drop_duplicates(subset=['description'])[0:100]
    fig = px.scatter(recommendation, x = 'serving', y = 'rmse', labels = {'serving':'Serving (grams)',
                                                                 'rmse': 'Deficit Fulfillment Score (Lower is Better)'},
                    height = 600, width = 600,
                    opacity = .5,
                    hover_data = ['description'])

    #fig.add_trace(go.Scatter(x = df['DWNOMINATE'], y = df['votes_with_party_pct'], marker = dict(size = 12),
                             #marker_symbol = 'star'))
    return fig
#foodgraph()

In [21]:
multiplier = .1
myquery = f'''
WITH errors AS (SELECT fdcid, description, 
    ABS(({multiplier}*vit_e - {vit_e})) as vit_e_2, 
    ABS(({multiplier}*vit_a - {vit_a})) as vit_a_2, 
    ABS(({multiplier}*thiamin_b1 - {thiamin_b1})) as thiamin_b1_2, 
    ABS(({multiplier}*riboflavin_b2 - {riboflavin_b2})) as riboflavin_b2_2, 
    ABS(({multiplier}*niacin - {niacin})) as niacin_2, 
    ABS(({multiplier}*vit_b6 - {vit_b6})) as vit_b6_2, 
    ABS(({multiplier}*folate - {folate})) as folate_2, 
    ABS(({multiplier}*choline - {choline})) as choline_2, 
    ABS(({multiplier}*vit_b12 - {vit_b12})) as vit_b12_2, 
    ABS(({multiplier}*vit_c - {vit_c})) as vit_c_2, 
    ABS(({multiplier}*vit_d - {vit_d})) as vit_d_2, 
    ABS(({multiplier}*vit_k - {vit_k})) as vit_k_2, 
    ABS(({multiplier}*calcium - {calcium})) as calcium_2, 
    ABS(({multiplier}*phosphorus - {phosphorus})) as phosphorus_2, 
    ABS(({multiplier}*magnesium - {magnesium})) as magnesium_2, 
    ABS(({multiplier}*iron - {iron})) as iron_2, 
    ABS(({multiplier}*zinc - {zinc})) as zinc_2, 
    ABS(({multiplier}*sodium - {sodium})) as sodium_2, 
    ABS(({multiplier}*potassium - {potassium})) as potassium_2
FROM food)

SELECT fdcid, description, vit_e_2 + vit_a_2 + thiamin_b1_2 + riboflavin_b2_2 + niacin_2 + vit_b6_2 + folate_2 + choline_2 + vit_b12_2 + vit_c_2 + 
    vit_d_2 + vit_k_2 + calcium_2 + phosphorus_2 + magnesium_2 + iron_2 + zinc_2 + sodium_2 + potassium_2 AS sum_squares
FROM errors
ORDER BY sum_squares ASC
LIMIT 20
'''

foods = pd.read_sql(myquery, con=engine)

multipliers = np.arange(.2, 5, 0.1).tolist()
for multiplier in multipliers:
    myquery = f'''
    WITH errors AS (SELECT fdcid, description, 
        ABS({multiplier}*vit_e - {vit_e}) as vit_e_2, 
        ABS(({multiplier}*vit_a - {vit_a})) as vit_a_2, 
        ABS(({multiplier}*thiamin_b1 - {thiamin_b1})) as thiamin_b1_2, 
        ABS(({multiplier}*riboflavin_b2 - {riboflavin_b2})) as riboflavin_b2_2, 
        ABS(({multiplier}*niacin - {niacin})) as niacin_2, 
        ABS(({multiplier}*vit_b6 - {vit_b6})) as vit_b6_2, 
        ABS(({multiplier}*folate - {folate})) as folate_2, 
        ABS(({multiplier}*choline - {choline})) as choline_2, 
        ABS(({multiplier}*vit_b12 - {vit_b12})) as vit_b12_2, 
        ABS(({multiplier}*vit_c - {vit_c})) as vit_c_2, 
        ABS(({multiplier}*vit_d - {vit_d})) as vit_d_2, 
        ABS(({multiplier}*vit_k - {vit_k})) as vit_k_2, 
        ABS(({multiplier}*calcium - {calcium})) as calcium_2, 
        ABS(({multiplier}*phosphorus - {phosphorus})) as phosphorus_2, 
        ABS(({multiplier}*magnesium - {magnesium})) as magnesium_2, 
        ABS(({multiplier}*iron - {iron})) as iron_2, 
        ABS(({multiplier}*zinc - {zinc})) as zinc_2, 
        ABS(({multiplier}*sodium - {sodium})) as sodium_2, 
        ABS(({multiplier}*potassium - {potassium})) as potassium_2
    FROM food)

    SELECT fdcid, description, vit_e_2 + vit_a_2 + thiamin_b1_2 + riboflavin_b2_2 + niacin_2 + vit_b6_2 + folate_2 + choline_2 + vit_b12_2 + vit_c_2 + 
        vit_d_2 + vit_k_2 + calcium_2 + phosphorus_2 + magnesium_2 + iron_2 + zinc_2 + sodium_2 + potassium_2 AS sum_squares
    FROM errors
    WHERE description NOT LIKE '%%JUICE%%' AND description NOT LIKE '%%DURUM%%'
    ORDER BY sum_squares ASC
    LIMIT 20
    '''

    new_foods = pd.read_sql(myquery, con=engine)
    foods = pd.concat([foods, new_foods], axis=0)

In [22]:
pd.set_option('display.max_rows', 30)
foods.sort_values(by='sum_squares', ascending=True).drop_duplicates(subset=['description'])[0:30]

     fdcid                                        description  sum_squares
0   173474                                  Peppermint, fresh  1666.155295
0   173475                                   Spearmint, fresh  1707.928545
1   173473                                    Rosemary, fresh  1714.935539
0   175136                      Fish, salmon, coho, wild, raw  1720.202714
1   171994  Fish, mackerel, Pacific and jack, mixed specie...  1721.228739
1   173672  Fish, mackerel, Pacific and jack, mixed specie...  1721.246714
0   168437          Mushrooms, shiitake, cooked, without salt  1737.782714
2   168419                                 Jute, potherb, raw  1742.335364
0   169815   Lambsquarters, steamed (Northern Plains Indians)  1747.557526
1   173698                  Fish, snapper, mixed species, raw  1762.903800
0   172272          Babyfood, vegetables, green beans, junior  1765.317332
1  2345673                  Baby Toddler green beans, Stage 2  1765.317332
2  2345672                  Baby Toddler green beans, Stage 1  1765.317332
2   169202  Amaranth leaves, cooked, boiled, drained, with...  1769.376769
1   169879  Jellies, no sugar (with sodium saccharin), any...  1783.769377
0  2345864                           Jam or jelly, sugar free  1783.769377
4   168420  Jute, potherb, cooked, boiled, drained, withou...  1791.891132
0   168465  Squash, summer, crookneck and straightneck, co...  1802.289469
4   168402  Cowpeas (blackeyes), immature seeds, cooked, b...  1804.416945
0   170418  Peas, edible-podded, frozen, cooked, boiled, d...  1804.582008
0   169221  Cowpeas, young pods with seeds, cooked, boiled...  1809.837206
4   168488         Taro leaves, cooked, steamed, without salt  1810.817532
0   170875                            Milk, low sodium, fluid  1813.259072
4   171718  Cherries, sour, red, frozen, unsweetened (Incl...  1824.535632
7   169377  Mushrooms, portabella, exposed to ultraviolet ...  1827.251800
1   175142                 Fish, sea bass, mixed species, raw  1827.983474
3   173525  Infant formula, MEAD JOHNSON, Gentlease, ready...  1828.448290
1  2345311                              Lettuce, arugula, raw  1831.083798
2   169387                                       Arugula, raw  1831.083798
3   172233                                   Dill weed, fresh  1838.140803

In [23]:
len(multipliers)

48

In [24]:
myquery = f'''
SELECT fdcid, description, vit_e, vit_a, thiamin_b1, riboflavin_b2, niacin, vit_b6, folate, choline, vit_b12, vit_c, vit_d, vit_k, calcium, phosphorus, 
    magnesium, iron, zinc, sodium, potassium
FROM food
'''

foods = pd.read_sql(myquery, con=engine)
foods

,fdcid,description,vit_e,vit_a,thiamin_b1,riboflavin_b2,niacin,vit_b6,folate,choline,...,vit_c,vit_d,vit_k,calcium,phosphorus,magnesium,iron,zinc,sodium,potassium
0,2262074,"Almond butter, creamy",16.70,0.0,0.09460,0.0000,3.9100,0.0838,42.50,0.0,...,0.0,0.0,0.0,264.00,507.00,268.00,4.1100,3.18000,0.996,745.0
1,2257045,"Almond milk, unsweetened, plain, refrigerated",0.00,0.0,0.00500,0.0833,0.0888,0.0000,0.00,0.0,...,0.0,63.6,0.0,158.00,19.10,8.25,0.1250,0.07660,59.200,49.3
2,1999631,"Almond milk, unsweetened, plain, shelf stable",3.32,41.4,0.00000,0.0334,0.0744,0.0000,0.00,0.0,...,0.0,37.1,0.0,173.00,29.80,6.78,0.2900,0.17200,59.600,30.8
3,2003590,"Apple juice, with added vitamin C, from concen...",0.00,0.0,0.00000,0.0000,0.0103,0.0139,3.09,0.0,...,51.2,0.0,0.0,7.10,5.99,4.86,0.0402,0.00212,4.870,95.9
4,1750340,"Apples, fuji, with skin, raw",0.00,0.0,0.00625,0.0675,0.0906,0.0354,0.00,0.0,...,0.0,0.0,0.0,5.98,9.78,4.67,0.0150,0.01680,1.010,104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13622,172219,"Yogurt, vanilla, low fat, fortified with vitam...",0.02,12.0,0.04200,0.2010,0.1070,0.0450,11.00,15.2,...,0.8,47.0,0.1,171.00,135.00,16.00,0.0700,0.83000,66.000,219.0
13623,170888,"Yogurt, vanilla, low fat.",0.02,12.0,0.04200,0.2010,0.1070,0.0450,11.00,15.2,...,0.8,1.0,0.1,171.00,135.00,16.00,0.0700,0.83000,66.000,219.0
13624,170906,"Yogurt, vanilla, non-fat",0.01,61.0,0.04200,0.2000,0.1070,0.0450,11.00,15.6,...,0.0,35.0,0.0,118.00,88.00,16.00,0.0000,0.83000,47.000,141.0
13625,173730,"Yokan, prepared from adzuki beans and sugar",0.00,0.0,0.00500,0.0040,0.0570,0.0080,8.00,0.0,...,0.0,0.0,0.0,27.00,40.00,18.00,1.1600,0.07000,83.000,45.0
13626,171372,Zwieback,2.44,16.0,0.20800,0.2390,1.3200,0.0820,87.00,10.7,...,5.3,0.0,0.9,20.00,55.00,14.00,0.6000,0.54000,227.000,305.0

In [25]:
a = ['something']
b = None
if b:
    a.append('something else')
a

['something']

In [26]:
rec

,age_lower,age_upper,sex,vit_a,vit_e,vit_d,vit_c,thiamin_b1,riboflavin_b2,niacin,...,choline,vit_k,folate,calcium,iron,magnesium,phosphorus,potassium,sodium,zinc
0,2,3,M/F,300,6,600,15,0.5,0.5,6,...,200,30,150,700,7,80,460,2000,1200,3
1,4,8,F,400,7,600,25,0.6,0.6,8,...,250,55,200,1000,10,130,500,2300,1500,5
2,9,13,F,600,11,600,45,0.9,0.9,12,...,375,60,300,1300,8,240,1250,2300,1800,8
3,14,18,F,700,15,600,65,1.0,1.0,14,...,400,75,400,1300,15,360,1250,2300,2300,9
4,19,30,F,700,15,600,75,1.1,1.1,14,...,425,90,400,1000,18,310,700,2600,2300,8
5,31,50,F,700,15,600,75,1.1,1.1,14,...,425,90,400,1000,18,320,700,2600,2300,8
6,51,150,F,700,15,600,75,1.1,1.1,14,...,425,90,400,1200,8,320,700,2600,2300,8
7,4,8,M,400,7,600,25,0.6,0.6,8,...,250,55,200,1000,10,130,500,2300,1500,5
8,9,13,M,600,11,600,45,0.9,0.9,12,...,375,60,300,1300,8,240,1250,2500,1800,8
9,14,18,M,900,15,600,75,1.2,1.3,16,...,550,75,400,1300,11,410,1250,3000,2300,11
10,19,30,M,900,15,600,90,1.2,1.3,16,...,550,120,400,1000,8,400,700,3400,2300,11
11,31,50,M,900,15,600,90,1.2,1.3,16,...,550,120,400,1000,8,420,700,3400,2300,11
12,51,150,M,900,15,600,90,1.2,1.3,16,...,550,120,400,1000,8,420,700,3400,2300,11

In [27]:
def get_search_string(age, sex, race = None, education = None, marital = None, poverty = None):
    search_string = ""
    search_string_rec = ""
    if age >= 2 and age <= 3:
        search_string = search_string + "d.age_year >= 2 AND d.age_year <= 3"
        search_string_rec = search_string_rec + "age_lower = 2 AND sex = 'M/F'"
    elif age >= 4 and age <= 8:
        search_string = search_string + "d.age_year >= 4 AND d.age_year <= 8"
        search_string_rec = search_string_rec + "age_lower = 4"
    elif age >= 9 and age <= 13:
        search_string = search_string + "d.age_year >= 9 AND d.age_year <= 13"
        search_string_rec = search_string_rec + "age_lower = 9"
    elif age >= 14 and age <= 18:
        search_string = search_string + "d.age_year >= 14 AND d.age_year <= 18"
        search_string_rec = search_string_rec + "age_lower = 14"
    elif age >= 19 and age <= 30:
        search_string = search_string + "d.age_year >= 19 AND d.age_year <= 30"
        search_string_rec = search_string_rec + "age_lower = 19"
    elif age >= 31 and age <= 50:
        search_string = search_string + "d.age_year >= 31 AND d.age_year <= 50"
        search_string_rec = search_string_rec + "age_lower = 31"
    else:
        search_string = search_string + "d.age_year >= 50"
        search_string_rec = search_string_rec + "age_lower = 51"
    if sex == 'F' and age > 3:
        search_string = search_string + " AND d.sex = 'F'"
        search_string_rec = search_string_rec + " AND sex = 'F'"
    elif sex == 'M' and age > 3:
        search_string = search_string + " AND d.sex = 'M'"
        search_string_rec = search_string_rec + " AND sex = 'M'"
    if race:
        if race == 'Non-Hispanic Asian':
            search_string = search_string + " AND d.race = 'Non-Hispanic Asian'"
        elif race == 'Mexican American':
            search_string = search_string + " AND d.race = 'Mexican American'"
        elif race == 'Non-Hispanic White':
            search_string = search_string + " AND d.race = 'Non-Hispanic White'"
        elif race == 'Other Hispanic':
            search_string = search_string + " AND d.race = 'Other Hispanic'"
        elif race =='Non-Hispanic Black':
            search_string = search_string + " AND d.race = 'Non-Hispanic Black'"
        else:
            search_string = search_string + " AND d.race = 'Other Race - Including Multi-Racial'"
    if education:
        if education == 'Less than 9th grade' and age > 19:
            search_string = search_string + " AND d.education = 'Less than 9th grade'"
        elif education == '9-11th grade' and age > 19:
            search_string = search_string + " AND d.education = '9-11th grade'"
        elif education == 'High school graduate/GED or equivalent' and age > 19:
            search_string = search_string + " AND d.education = 'High school graduate/GED or equivalent'"
        elif education == 'Some college or AA degree' and age > 19:
            search_string = search_string + " AND d.education = 'Some college or AA degree'"
        else:
            search_string = search_string + " AND d.education = 'College graduate or above'"
    if marital:
        if marital == 'Never married':
            search_string = search_string + " AND d.marital_status = 'Never married'"
        elif marital == 'Married/Living with Partner':
            search_string = search_string + " AND d.marital_status = 'Married/Living with Partner'"
        else:
            search_string = search_string + " AND d.marital_status = 'Widowed/Divorced/Separated'"
    if poverty:
        if poverty == 'Yes':
            search_string = search_string + " AND d.income_pov_rat <= 1"
        else: 
            search_string = search_string + " AND d.income_pov_rat > 1"
    return search_string, search_string_rec

In [28]:
get_search_string(22, 'M', race = 'Non-Hispanic White', education = None, marital = None, poverty = None)

("d.age_year >= 19 AND d.age_year <= 30 AND d.sex = 'M' AND d.race = 'Non-Hispanic White'",
 "age_lower = 19 AND sex = 'M'")

In [29]:
'd.age_year >= 2 AND d.age_year <= 3' + ' AND d.sex = M/F'

'd.age_year >= 2 AND d.age_year <= 3 AND d.sex = M/F'

In [30]:
demo['income_pov_rat']

0        4.66
1        0.83
2        3.06
3        5.00
4        0.96
         ...
11722    0.48
11723    0.99
11724    0.85
11725    1.47
11726    5.00
Name: income_pov_rat, Length: 11727, dtype: float64

In [31]:
# how to get the graph up

def make_nutrition_graph(age, sex, race = None, education = None, marital = None, poverty = None):
    
    # get the string to search the demo and population nutrition tables
    
    strings = get_search_string(age, sex, race, education, marital, poverty)
    dem_string = strings[0]
    nutr_string = strings[1]

    # search the demo and population nutrition tables
    
    mean_nutr_query = f'''
    SELECT COUNT(d.age_year) as n, AVG(avg_vit_e) AS vit_e, AVG(avg_vit_a) AS vit_a, AVG(avg_thiamin_b1) AS thiamin_b1, AVG(avg_riboflavin_b2) AS riboflavin_b2, 
        AVG(avg_niacin) AS niacin, AVG(avg_vit_b6) AS vit_b6, AVG(avg_folate) AS folate, AVG(avg_choline) AS choline, AVG(avg_vit_b12) AS vit_b12, 
        AVG(avg_vit_c) AS vit_c, AVG(avg_vit_d) AS vit_d, AVG(avg_vit_k) AS vit_k, AVG(avg_calcium) AS calcium, AVG(avg_phosphorus) AS phosphorus, 
        AVG(avg_magnesium) AS magnesium, AVG(avg_iron) AS iron, AVG(avg_zinc) AS zinc, AVG(avg_sodium) AS sodium, AVG(avg_potassium) AS potassium
    FROM demo d 
    INNER JOIN pop_nutr p
        ON d.seqn = p.seqn
    WHERE {dem_string}
    GROUP BY sex
    '''

    mean_nutr = pd.read_sql(mean_nutr_query, con=engine)
    
    myquery = f'''
    SELECT vit_e, vit_a, thiamin_b1, riboflavin_b2, niacin, vit_b6, folate, choline, vit_b12, vit_c, vit_d, vit_k, calcium, phosphorus, 
        magnesium, iron, zinc, sodium, potassium
    FROM rec
    WHERE {nutr_string}
    '''

    recommendation = pd.read_sql(myquery, con=engine)

    # subtract the searches to get the deficit and store those deficit values
    
    needs = recommendation.subtract(mean_nutr.drop(['n'], axis = 1))
    vit_e = needs['vit_e'][0]
    vit_a = needs['vit_a'][0]
    thiamin_b1 = needs['thiamin_b1'][0]
    riboflavin_b2 = needs['riboflavin_b2'][0]
    niacin = needs['niacin'][0]
    vit_b6 = needs['vit_b6'][0]
    folate = needs['folate'][0]
    choline = needs['choline'][0]
    vit_b12 = needs['vit_b12'][0]
    vit_c = needs['vit_c'][0]
    vit_d = needs['vit_d'][0]
    vit_k = needs['vit_k'][0]
    calcium = needs['calcium'][0]
    phosphorus = needs['phosphorus'][0]
    magnesium = needs['magnesium'][0]
    iron = needs['iron'][0]
    zinc = needs['zinc'][0]
    sodium = needs['sodium'][0]
    potassium = needs['potassium'][0]

    # calculate least squares for foods and order them smallest to largest
    
    multiplier = .1
    myquery = f'''
    WITH errors AS (SELECT fdcid, description,
        vit_e*{multiplier} AS vit_e,
        vit_a*{multiplier} AS vit_a,
        thiamin_b1*{multiplier} AS thiamin_b1,
        riboflavin_b2*{multiplier} AS riboflavin_b2,
        niacin*{multiplier} AS niacin,
        vit_b6*{multiplier} AS vit_b6,
        folate*{multiplier} AS folate,
        choline*{multiplier} AS choline,
        vit_b12*{multiplier} AS vit_b12,
        vit_c*{multiplier} AS vit_c,
        vit_d*{multiplier} AS vit_d,
        vit_k*{multiplier} AS vit_k,
        calcium*{multiplier} AS calcium,
        phosphorus*{multiplier} AS phosphorus,
        magnesium*{multiplier} AS magnesium,
        iron*{multiplier} AS iron,
        zinc*{multiplier} AS zinc,
        sodium*{multiplier} AS sodium,
        potassium*{multiplier} AS potassium,
        POWER(({multiplier}*vit_e - {vit_e}), 2) as vit_e_2, 
        POWER(({multiplier}*vit_a - {vit_a}), 2) as vit_a_2, 
        POWER(({multiplier}*thiamin_b1 - {thiamin_b1}), 2) as thiamin_b1_2, 
        POWER(({multiplier}*riboflavin_b2 - {riboflavin_b2}), 2) as riboflavin_b2_2, 
        POWER(({multiplier}*niacin - {niacin}), 2) as niacin_2, 
        POWER(({multiplier}*vit_b6 - {vit_b6}), 2) as vit_b6_2, 
        POWER(({multiplier}*folate - {folate}), 2) as folate_2, 
        POWER(({multiplier}*choline - {choline}), 2) as choline_2, 
        POWER(({multiplier}*vit_b12 - {vit_b12}), 2) as vit_b12_2, 
        POWER(({multiplier}*vit_c - {vit_c}), 2) as vit_c_2, 
        POWER(({multiplier}*vit_d - {vit_d}), 2) as vit_d_2, 
        POWER(({multiplier}*vit_k - {vit_k}), 2) as vit_k_2, 
        POWER(({multiplier}*calcium - {calcium}), 2) as calcium_2, 
        POWER(({multiplier}*phosphorus - {phosphorus}), 2) as phosphorus_2, 
        POWER(({multiplier}*magnesium - {magnesium}), 2) as magnesium_2, 
        POWER(({multiplier}*iron - {iron}), 2) as iron_2, 
        POWER(({multiplier}*zinc - {zinc}), 2) as zinc_2, 
        POWER(({multiplier}*sodium - {sodium}), 2) as sodium_2, 
        POWER(({multiplier}*potassium - {potassium}), 2) as potassium_2,
        {multiplier}*100.0 as serving
    FROM food)

    SELECT fdcid, description, serving, sqrt((vit_e_2 + vit_a_2 + thiamin_b1_2 + riboflavin_b2_2 + niacin_2 + vit_b6_2 + folate_2 + choline_2 + vit_b12_2 + vit_c_2 + 
        vit_d_2 + vit_k_2 + calcium_2 + phosphorus_2 + magnesium_2 + iron_2 + zinc_2 + sodium_2 + potassium_2)/19) AS rmse,
        vit_e,
        vit_a,
        thiamin_b1,
        riboflavin_b2,
        niacin,
        vit_b6,
        folate,
        choline,
        vit_b12,
        vit_c,
        vit_d,
        vit_k,
        calcium,
        phosphorus,
        magnesium,
        iron,
        zinc,
        sodium,
        potassium
    FROM errors
    ORDER BY rmse ASC
    LIMIT 100
    '''

    foods = pd.read_sql(myquery, con=engine)

    multipliers = np.arange(.2, 4, 0.1).tolist()
    for multiplier in multipliers:
        myquery = f'''
        WITH errors AS (SELECT fdcid, description,
            vit_e*{multiplier} AS vit_e,
            vit_a*{multiplier} AS vit_a,
            thiamin_b1*{multiplier} AS thiamin_b1,
            riboflavin_b2*{multiplier} AS riboflavin_b2,
            niacin*{multiplier} AS niacin,
            vit_b6*{multiplier} AS vit_b6,
            folate*{multiplier} AS folate,
            choline*{multiplier} AS choline,
            vit_b12*{multiplier} AS vit_b12,
            vit_c*{multiplier} AS vit_c,
            vit_d*{multiplier} AS vit_d,
            vit_k*{multiplier} AS vit_k,
            calcium*{multiplier} AS calcium,
            phosphorus*{multiplier} AS phosphorus,
            magnesium*{multiplier} AS magnesium,
            iron*{multiplier} AS iron,
            zinc*{multiplier} AS zinc,
            sodium*{multiplier} AS sodium,
            potassium*{multiplier} AS potassium,
            POWER(({multiplier}*vit_e - {vit_e}), 2) as vit_e_2, 
            POWER(({multiplier}*vit_a - {vit_a}), 2) as vit_a_2, 
            POWER(({multiplier}*thiamin_b1 - {thiamin_b1}), 2) as thiamin_b1_2, 
            POWER(({multiplier}*riboflavin_b2 - {riboflavin_b2}), 2) as riboflavin_b2_2, 
            POWER(({multiplier}*niacin - {niacin}), 2) as niacin_2, 
            POWER(({multiplier}*vit_b6 - {vit_b6}), 2) as vit_b6_2, 
            POWER(({multiplier}*folate - {folate}), 2) as folate_2, 
            POWER(({multiplier}*choline - {choline}), 2) as choline_2, 
            POWER(({multiplier}*vit_b12 - {vit_b12}), 2) as vit_b12_2, 
            POWER(({multiplier}*vit_c - {vit_c}), 2) as vit_c_2, 
            POWER(({multiplier}*vit_d - {vit_d}), 2) as vit_d_2, 
            POWER(({multiplier}*vit_k - {vit_k}), 2) as vit_k_2, 
            POWER(({multiplier}*calcium - {calcium}), 2) as calcium_2, 
            POWER(({multiplier}*phosphorus - {phosphorus}), 2) as phosphorus_2, 
            POWER(({multiplier}*magnesium - {magnesium}), 2) as magnesium_2, 
            POWER(({multiplier}*iron - {iron}), 2) as iron_2, 
            POWER(({multiplier}*zinc - {zinc}), 2) as zinc_2, 
            POWER(({multiplier}*sodium - {sodium}), 2) as sodium_2, 
            POWER(({multiplier}*potassium - {potassium}), 2) as potassium_2,
            {multiplier}*100.0 as serving
        FROM food)

        SELECT fdcid, description, serving, SQRT((vit_e_2 + vit_a_2 + thiamin_b1_2 + riboflavin_b2_2 + niacin_2 + vit_b6_2 + folate_2 + choline_2 + vit_b12_2 + vit_c_2 + 
            vit_d_2 + vit_k_2 + calcium_2 + phosphorus_2 + magnesium_2 + iron_2 + zinc_2 + sodium_2 + potassium_2)/19) AS rmse,
            vit_e,
            vit_a,
            thiamin_b1,
            riboflavin_b2,
            niacin,
            vit_b6,
            folate,
            choline,
            vit_b12,
            vit_c,
            vit_d,
            vit_k,
            calcium,
            phosphorus,
            magnesium,
            iron,
            zinc,
            sodium,
            potassium
        FROM errors
        ORDER BY rmse ASC
        LIMIT 100
        '''

        new_foods = pd.read_sql(myquery, con=engine)
        foods = pd.concat([foods, new_foods], axis=0)
        

    # graph the thing
    print("This graph is based on " + str(mean_nutr['n'][0]) + " people")
    return foodgraph(foods)

In [32]:
myGraph = make_nutrition_graph(55, 'F', race = None, education = None, marital = None, poverty = 'Yes')

This graph is based on 307 people

In [33]:
demo.head()

,seqn,sex,age_year,race,education,marital_status,income_pov_rat
0,109263.0,M,2.0,Non-Hispanic Asian,NaN,NaN,4.66
1,109264.0,F,13.0,Mexican American,NaN,NaN,0.83
2,109265.0,M,2.0,Non-Hispanic White,NaN,NaN,3.06
3,109266.0,F,29.0,Non-Hispanic Asian,College graduate or above,Never married,5.00
4,109269.0,M,2.0,Other Hispanic,NaN,NaN,0.96

In [34]:
demo['age_year'].max()

80.0

In [35]:
external_stylesheets = [dbc.themes.LITERA]
app = JupyterDash(__name__, external_stylesheets=external_stylesheets)

In [36]:
app.layout = html.Div(
[
    html.H1("Nutrition Recommendation Dashboard"),
    dcc.Markdown("Age"),
    dcc.Slider(id="ageSlider", min = 2, max = 80, step = 1, value = 30),
    html.Div(
        [
        dcc.Markdown("Sex"),
        dcc.Dropdown(id="sexDropdown", options=list(demo['sex'].unique()), value = 'F'),
        dcc.Markdown("Race"),
        dcc.Dropdown(id="raceDropdown", options=list(demo['race'].unique()), value = None),
        dcc.Markdown("Education Level"),
        dcc.Dropdown(id="educDropdown", options=list(demo["education"].dropna().unique()), value = None),
        dcc.Markdown("Marital Status"),
        dcc.Dropdown(id="maritalDropdown", options=list(demo["marital_status"].dropna().unique()), value = None),
        dcc.Markdown("Poverty Status"),
        dcc.Dropdown(id="povertyDropdown", options=list(demo['income_pov_rat'].unique()), value = None)],
        style = {"width":"20%", "float":"left"}),
    
    html.Div(
        [dcc.Graph(id="nutritionGraph")],
        style = {"width":"75%", "float":"right"}),
    
]


)

In [37]:
[x for x in list(demo['education'].unique()) if not x == np.nan]

[nan,
 'College graduate or above',
 '9-11th grade',
 'Some college or AA degree',
 'High school graduate/GED or equivalent',
 'Less than 9th grade']

In [38]:
list(demo["education"].dropna().unique())

['College graduate or above',
 '9-11th grade',
 'Some college or AA degree',
 'High school graduate/GED or equivalent',
 'Less than 9th grade']

In [39]:
@app.callback(Output(component_id = "nutritionGraph", component_property = "figure"), 
             [Input(component_id = "ageSlider", component_property = "value"),
             Input(component_id = "sexDropdown", component_property = "value"),
             Input(component_id = "raceDropdown", component_property = "value"),
             Input(component_id = "educDropdown", component_property = "value"),
             Input(component_id = "maritalDropdown", component_property = "value"),
             Input(component_id = "povertyDropdown", component_property = "value")])

def make_nutrition_graph(age, sex, race = None, education = None, marital = None, poverty = None):
    
    # get the string to search the demo and population nutrition tables
    
    strings = get_search_string(age, sex, race, education, marital, poverty)
    dem_string = strings[0]
    nutr_string = strings[1]

    # search the demo and population nutrition tables
    
    mean_nutr_query = f'''
    SELECT COUNT(d.age_year) as n, AVG(avg_vit_e) AS vit_e, AVG(avg_vit_a) AS vit_a, AVG(avg_thiamin_b1) AS thiamin_b1, AVG(avg_riboflavin_b2) AS riboflavin_b2, 
        AVG(avg_niacin) AS niacin, AVG(avg_vit_b6) AS vit_b6, AVG(avg_folate) AS folate, AVG(avg_choline) AS choline, AVG(avg_vit_b12) AS vit_b12, 
        AVG(avg_vit_c) AS vit_c, AVG(avg_vit_d) AS vit_d, AVG(avg_vit_k) AS vit_k, AVG(avg_calcium) AS calcium, AVG(avg_phosphorus) AS phosphorus, 
        AVG(avg_magnesium) AS magnesium, AVG(avg_iron) AS iron, AVG(avg_zinc) AS zinc, AVG(avg_sodium) AS sodium, AVG(avg_potassium) AS potassium
    FROM demo d 
    INNER JOIN pop_nutr p
        ON d.seqn = p.seqn
    WHERE {dem_string}
    GROUP BY sex
    '''

    mean_nutr = pd.read_sql(mean_nutr_query, con=engine)
    
    myquery = f'''
    SELECT vit_e, vit_a, thiamin_b1, riboflavin_b2, niacin, vit_b6, folate, choline, vit_b12, vit_c, vit_d, vit_k, calcium, phosphorus, 
        magnesium, iron, zinc, sodium, potassium
    FROM rec
    WHERE {nutr_string}
    '''

    recommendation = pd.read_sql(myquery, con=engine)

    # subtract the searches to get the deficit and store those deficit values
    
    needs = recommendation.subtract(mean_nutr.drop(['n'], axis = 1))
    vit_e = needs['vit_e'][0]
    vit_a = needs['vit_a'][0]
    thiamin_b1 = needs['thiamin_b1'][0]
    riboflavin_b2 = needs['riboflavin_b2'][0]
    niacin = needs['niacin'][0]
    vit_b6 = needs['vit_b6'][0]
    folate = needs['folate'][0]
    choline = needs['choline'][0]
    vit_b12 = needs['vit_b12'][0]
    vit_c = needs['vit_c'][0]
    vit_d = needs['vit_d'][0]
    vit_k = needs['vit_k'][0]
    calcium = needs['calcium'][0]
    phosphorus = needs['phosphorus'][0]
    magnesium = needs['magnesium'][0]
    iron = needs['iron'][0]
    zinc = needs['zinc'][0]
    sodium = needs['sodium'][0]
    potassium = needs['potassium'][0]

    # calculate least squares for foods and order them smallest to largest
    
    multiplier = .1
    myquery = f'''
    WITH errors AS (SELECT fdcid, description,
        vit_e*{multiplier} AS vit_e,
        vit_a*{multiplier} AS vit_a,
        thiamin_b1*{multiplier} AS thiamin_b1,
        riboflavin_b2*{multiplier} AS riboflavin_b2,
        niacin*{multiplier} AS niacin,
        vit_b6*{multiplier} AS vit_b6,
        folate*{multiplier} AS folate,
        choline*{multiplier} AS choline,
        vit_b12*{multiplier} AS vit_b12,
        vit_c*{multiplier} AS vit_c,
        vit_d*{multiplier} AS vit_d,
        vit_k*{multiplier} AS vit_k,
        calcium*{multiplier} AS calcium,
        phosphorus*{multiplier} AS phosphorus,
        magnesium*{multiplier} AS magnesium,
        iron*{multiplier} AS iron,
        zinc*{multiplier} AS zinc,
        sodium*{multiplier} AS sodium,
        potassium*{multiplier} AS potassium,
        POWER(({multiplier}*vit_e - {vit_e}), 2) as vit_e_2, 
        POWER(({multiplier}*vit_a - {vit_a}), 2) as vit_a_2, 
        POWER(({multiplier}*thiamin_b1 - {thiamin_b1}), 2) as thiamin_b1_2, 
        POWER(({multiplier}*riboflavin_b2 - {riboflavin_b2}), 2) as riboflavin_b2_2, 
        POWER(({multiplier}*niacin - {niacin}), 2) as niacin_2, 
        POWER(({multiplier}*vit_b6 - {vit_b6}), 2) as vit_b6_2, 
        POWER(({multiplier}*folate - {folate}), 2) as folate_2, 
        POWER(({multiplier}*choline - {choline}), 2) as choline_2, 
        POWER(({multiplier}*vit_b12 - {vit_b12}), 2) as vit_b12_2, 
        POWER(({multiplier}*vit_c - {vit_c}), 2) as vit_c_2, 
        POWER(({multiplier}*vit_d - {vit_d}), 2) as vit_d_2, 
        POWER(({multiplier}*vit_k - {vit_k}), 2) as vit_k_2, 
        POWER(({multiplier}*calcium - {calcium}), 2) as calcium_2, 
        POWER(({multiplier}*phosphorus - {phosphorus}), 2) as phosphorus_2, 
        POWER(({multiplier}*magnesium - {magnesium}), 2) as magnesium_2, 
        POWER(({multiplier}*iron - {iron}), 2) as iron_2, 
        POWER(({multiplier}*zinc - {zinc}), 2) as zinc_2, 
        POWER(({multiplier}*sodium - {sodium}), 2) as sodium_2, 
        POWER(({multiplier}*potassium - {potassium}), 2) as potassium_2,
        {multiplier}*100.0 as serving
    FROM food)

    SELECT fdcid, description, serving, sqrt((vit_e_2 + vit_a_2 + thiamin_b1_2 + riboflavin_b2_2 + niacin_2 + vit_b6_2 + folate_2 + choline_2 + vit_b12_2 + vit_c_2 + 
        vit_d_2 + vit_k_2 + calcium_2 + phosphorus_2 + magnesium_2 + iron_2 + zinc_2 + sodium_2 + potassium_2)/19) AS rmse,
        vit_e,
        vit_a,
        thiamin_b1,
        riboflavin_b2,
        niacin,
        vit_b6,
        folate,
        choline,
        vit_b12,
        vit_c,
        vit_d,
        vit_k,
        calcium,
        phosphorus,
        magnesium,
        iron,
        zinc,
        sodium,
        potassium
    FROM errors
    ORDER BY rmse ASC
    LIMIT 100
    '''

    foods = pd.read_sql(myquery, con=engine)

    multipliers = np.arange(.2, 4, 0.1).tolist()
    for multiplier in multipliers:
        myquery = f'''
        WITH errors AS (SELECT fdcid, description,
            vit_e*{multiplier} AS vit_e,
            vit_a*{multiplier} AS vit_a,
            thiamin_b1*{multiplier} AS thiamin_b1,
            riboflavin_b2*{multiplier} AS riboflavin_b2,
            niacin*{multiplier} AS niacin,
            vit_b6*{multiplier} AS vit_b6,
            folate*{multiplier} AS folate,
            choline*{multiplier} AS choline,
            vit_b12*{multiplier} AS vit_b12,
            vit_c*{multiplier} AS vit_c,
            vit_d*{multiplier} AS vit_d,
            vit_k*{multiplier} AS vit_k,
            calcium*{multiplier} AS calcium,
            phosphorus*{multiplier} AS phosphorus,
            magnesium*{multiplier} AS magnesium,
            iron*{multiplier} AS iron,
            zinc*{multiplier} AS zinc,
            sodium*{multiplier} AS sodium,
            potassium*{multiplier} AS potassium,
            POWER(({multiplier}*vit_e - {vit_e}), 2) as vit_e_2, 
            POWER(({multiplier}*vit_a - {vit_a}), 2) as vit_a_2, 
            POWER(({multiplier}*thiamin_b1 - {thiamin_b1}), 2) as thiamin_b1_2, 
            POWER(({multiplier}*riboflavin_b2 - {riboflavin_b2}), 2) as riboflavin_b2_2, 
            POWER(({multiplier}*niacin - {niacin}), 2) as niacin_2, 
            POWER(({multiplier}*vit_b6 - {vit_b6}), 2) as vit_b6_2, 
            POWER(({multiplier}*folate - {folate}), 2) as folate_2, 
            POWER(({multiplier}*choline - {choline}), 2) as choline_2, 
            POWER(({multiplier}*vit_b12 - {vit_b12}), 2) as vit_b12_2, 
            POWER(({multiplier}*vit_c - {vit_c}), 2) as vit_c_2, 
            POWER(({multiplier}*vit_d - {vit_d}), 2) as vit_d_2, 
            POWER(({multiplier}*vit_k - {vit_k}), 2) as vit_k_2, 
            POWER(({multiplier}*calcium - {calcium}), 2) as calcium_2, 
            POWER(({multiplier}*phosphorus - {phosphorus}), 2) as phosphorus_2, 
            POWER(({multiplier}*magnesium - {magnesium}), 2) as magnesium_2, 
            POWER(({multiplier}*iron - {iron}), 2) as iron_2, 
            POWER(({multiplier}*zinc - {zinc}), 2) as zinc_2, 
            POWER(({multiplier}*sodium - {sodium}), 2) as sodium_2, 
            POWER(({multiplier}*potassium - {potassium}), 2) as potassium_2,
            {multiplier}*100.0 as serving
        FROM food)

        SELECT fdcid, description, serving, SQRT((vit_e_2 + vit_a_2 + thiamin_b1_2 + riboflavin_b2_2 + niacin_2 + vit_b6_2 + folate_2 + choline_2 + vit_b12_2 + vit_c_2 + 
            vit_d_2 + vit_k_2 + calcium_2 + phosphorus_2 + magnesium_2 + iron_2 + zinc_2 + sodium_2 + potassium_2)/19) AS rmse,
            vit_e,
            vit_a,
            thiamin_b1,
            riboflavin_b2,
            niacin,
            vit_b6,
            folate,
            choline,
            vit_b12,
            vit_c,
            vit_d,
            vit_k,
            calcium,
            phosphorus,
            magnesium,
            iron,
            zinc,
            sodium,
            potassium
        FROM errors
        ORDER BY rmse ASC
        LIMIT 100
        '''

        new_foods = pd.read_sql(myquery, con=engine)
        foods = pd.concat([foods, new_foods], axis=0)
        

    # graph the thing
    print("This graph is based on " + str(mean_nutr['n'][0]) + " people")
    return foodgraph(foods)

In [40]:
if __name__== "__main__":
    app.run_server(mode= 'external', host = "0.0.0.0", debug=True)

Dash app running on http://0.0.0.0:8050/